body {
    font-family: verdana;
}

div.topicError {
    font-size: 0.7em;
    color: red;
}

div.lesInfoError {
    font-size: 0.7em;
    color: red;
}

img.caricon {
    height: 40px;
    width: 40px;
}

